[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
black = "==21.5b2"
isort = "*"
pre-commit = "*"
invoke = "*"

[packages]
Cython="*"
gensim="*"
inspyred="*"
joblib="*"
matplotlib="*"
nltk="*"
numpy="*"
pandas="*"
pyclust="*"
pykalman="*"
scikit-learn="*"
scipy="*"
sklearn="*"
statsmodels="*"
treelib="*"
Unidecode="*"
jupyter = "*"
python-levenshtein = "*"
pyflux = {git = "https://github.com/RJT1990/pyflux"}
pybrain = {git = "https://github.com/pybrain/pybrain"}
